/**
* @name ArthurShelby
* @version 1
* @description Theme made by 'Kr0kss#0001
* @author 'Kr0kss#0001
* @authorId 473228282293125120
* @invite pN4XHAuyee
* @website https://kr0kss.pt
* @donate https://paypal.me/krokss
* @source https://github.com/kr0kss/ArthurShelbyBTD
*/



@import url("https://discordstyles.github.io/FrostedGlass/dist/FrostedGlass.css");
:root {

--online-color: #43b581;
--idle-color: #faa61a;
--dnd-color: #982929;
--streaming-color: #593695;
--offline-color: #808080; 
--main-font: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
--code-font: Consolas, Liberation Mono, Menlo, Courier, monospace;
--server-columns: 1;
--channels-width: 220px;
--members-width: 240px;
--avatar-roundness: 50%;
--main-font: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
--code-font: Consolas, Liberation Mono, Menlo, Courier, monospace;
--server-columns: 1;
--channels-width: 220px;
--members-width: 240px;
--avatar-roundness: 50%;
--background-image: url('https://i.imgur.com/GNAdlWM.jpg');
--background-image-blur: 0px;
--background-image-size: cover;
--background-image-position: right;
--popout-modal-image: url('https://i.imgur.com/rZ4majJ.jpg');
--popout-modal-blur: 0px;
--popout-modal-size: contain;
--popout-modal-position: bottom;
--home-position: center;
--home-size: 40px;
--serverlist-brightness: 0.35;
--left-brightness: 0.35;
--middle-brightness: 0.6;
--right-brightness: 0.35;
--popout-modal-brightness: 0.35;
--gradient-primary: 0,0,0;
--gradient-secondary: 59,56,56;
--gradient-direction: 320deg;
--tint-colour: 35,36,41;
--tint-brightness: 0;
--window-padding: 0px;
--window-roundness: 0px;
--scrollbar-colour: #ffffff0d;
--link-colour: #00b0f4;
--show-gift-gif-buttons: block;
--font: 'Whitney';
--update-notice-1: none;
--Theme-Variant: " Peaky Blinders - Arthur Shelby | Made by 'Kr0kss#0001";
}